{% extends 'main/base.html' %}

{% block title %}
Asosiy sahifa
{% endblock %}

{% block body %}

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1509043759401-136742328bb3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/C91C/production/_127948415_bird-china-gettyimages-1447284840.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/id/1366352000/photo/businessman-standing-on-the-top-of-rock.jpg?b=1&s=170667a&w=0&k=20&c=340WNRIaHgIaK8fVpknkuH7OKiXXtLNHgmLAgF0Uhjw=" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}


